.btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 120px;
  background: var(--primary-color);
  color: var(--white-color);
  height: 44px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  width: 100%;

  &:disabled {
    background: var(--disable-bg);
    color: var(--disable-text-color);
    cursor: default;
  }
}
