.language-container {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 96px;
  height: 44px;

  &.show .language{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  &.show .language-dropdown {
    display: flex;
  }
}

.language {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  gap: 8px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(83, 105, 172, 0.3) 0%,
    rgba(50, 64, 103, 0.3) 100%
  );
  cursor: pointer;
  user-select: none;


  &_name {
    color: #fff;
    font-weight: 600;
    font-family: Inter;
    font-size: 1.6rem;
  }

  &_image {
    width: 15px;
    height: 15px;
    object-fit: cover;
    border-radius: 9999px;
  }

  &.show {
   display: flex;
  }
}

.language-dropdown {
  position: absolute;
  right: 0;
    left: 0;
    top: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  background: var(--FSEL_LMS-Sys-surface-container, #2E3C60);
  backdrop-filter: blur(40px);
  display: none;
  width: 100%;
}

.language-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 16px 10px 24px;
  user-select: none;
  cursor: pointer;

}
